// Margin variables
$marginNormal: 20px;  
$marginBig: $marginNormal *2;  
$marginSmall: $marginNormal/2;

// Colors
$mainColor: #fff200;
$backgroundColor: #FFF;
$gris: #4D4D4D;

// Fonts
$font: "Avenir Next Condensed", sans-serif;
$titleFont: "LMDLD", sans-serif;
$subtitleFont: "Bebas Neue", sans-serif;

// FontSize
$menuSize: 16px;
$textSize: 19px;
 
// Mixins
@mixin center{
	display: block;
	position: relative; 
	top: 50%;
	transform: translateY(-50%);
}

